<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="wrapper">
        {{> sidebar}}
        <div class="main">
            <div class="header">
                <h1>科目一覧</h1>
            </div>
            <div class="content">
                <table class="table">
                    <tr class="table-header">
                        <td>科目コード</td>
                        <td>科目名</td>
                        <td>科目タイプ</td>
                        <td>親科目コード</td>
                    </tr>
                    {{#accounts}}
                        <tr>
                            <td>{{code.value}}</td>
                            <td>{{name.value}}</td>
                            <td>{{accountType}}</td>
                            <td>
                                {{#parentCode}}
                                    {{.}}
                                {{/parentCode}}
                            </td>
                        </tr>
                    {{/accounts}}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
