<div class="sidebar">
    <div class="logo">
        <img src="../img/logo.svg">
    </div>
    <div class="links">
        <div class="link">
            <a href="/accounts">科目一覧</a>
            <a href="/journals">仕訳一覧</a>
            <a href="/pl">PL表</a>
        </div>
    </div>
</div>