<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div class="wrapper">
    {{> sidebar}}
    <div class="main">
        <div class="header">
            <h1>トップ</h1>
        </div>
        <div class="content">
        </div>
    </div>
</div>
</body>
</html>
